/* 
sarı: #e2a539
*/
body {
  background-color: #EEFFFF !important;
  font-family: Helvetica;
}

.container {
  max-width: 910px;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #cce6ff;
  float: left;
}

.joker_main {
  width: 700px;
  height: 62px;
  background-color: #000033;
  border: outset #aaa 2px;
  margin: 0 auto;
  border-radius: 5px 5px;
  float: right;
}

.fifty {
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Ffifty.png?v=1576603535679);
}

.phone {
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fphone.png?v=1576603535088);
}
.audience {
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Faudience.png?v=1576603537493);
}
.joker {
  width: 80px;
  height: 62px;
  border: outset #aaa 0px;
}

.joker:hover {
  opacity: 75%;
}

.joker:focus {
  opacity: 50%;
  outline: none;
}

.timer {
  width: 100px;
  height: 50px;
  border: outset #aaa 2px;
  background: #f2f2f2;
  font-size: 30px;
  text-align: center;
  color: #333;
  padding-top: 25px;
  border-radius: 5px 5px;
  margin: 0 auto;
}

.main {
  width: 700px;
  height: 290px;
  margin: 0 auto;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
  background-color: #00001a;
}

.main_img {
  width: 400px;
  height: 359px;
  margin: 0 auto;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fmain2.png?v=1576865722817);
  background-repeat: no-repeat;
}

.question {
  width: 700px;
  height: 50px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.prize {
  width: 200px;
  height: 517px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.prize-table {
  text-align: left;
  display: inline-block;
}

.prize-table td {
  width: 200px;
  height: 32px;
  float: right;
}

.usual_q {
  color: #e2a539;
}

.choices-table {
  display: inline-block;
  text-align: center;
  float: left;
}

.choices button {
  text-align: left;
  width: 348px;
  height: 50px;
  background: #000033;
  color: #ffffff;
  border: outset #aaa 2px;
  transition: 0.5s;
  border-radius: 5px 5px;
  float: right;
}

.choice-id {
  color: #FFFF33;
  transition: 0.5s;
}

.score {
  width: 903px;
  height: 30px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.choices button:hover {
  background-color: #000066;
  color: #ffff1a;
}

.choices button:hover {
  background-color: #000066;
}

.choices button:focus {
  background: #e2a539;
}

.choices button:focus .choice-id {
  color: #FFF;
}

.choices button:focus .choice-detail {
  color: #000;
}

.ad1 {
  width: 211px;
  height: 608px;
  background: url();
  float: left;
  margin: 0 auto;
}

.ad2 {
  width: 211px;
  height: 608px;
  background: url();
  float: left;
  margin: 0 auto;
}

.approved {
  margin: 100px auto;
  width: 1333px;
  height: 889px;
  color: #33ff33;
  font-size: 270px;
  text-align: center;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fjeff.jpg?v=1576613124174);
  background-repeat: no-repeat;
  float: left;
}

@media screen and (max-width: 1155px) {
  .ad,
  .approved {
    display: none;
  }
}
