/* 
sarı: #e2a539
*/
body {
  background-color: #EEFFFF !important;
  font-family: Helvetica;
}

.container {
  max-width: 910px;
  height: 700px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #cce6ff;
  float: left;
}

.jokers {
  width: 700px;
  height: 62px;
  background-color: #000033;
  border: outset #aaa 2px;
  margin: 0 auto;
  border-radius: 5px 5px;
  float: right;
}

.fifty {
  width: 80px;
  height: 62px;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Ffifty.png?v=1576603535679);
  border: outset #aaa 0px;
}

.fifty:hover{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Ffifty_hover.png?v=1576610737004);
}

.fifty:focus{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Ffifty_focus.png?v=1576610737952);
}

.phone {
  width: 80px;
  height: 62px;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fphone.png?v=1576603535088);
  border: outset #aaa 0px;
}

.phone:hover{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fphone_hover.png?v=1576610731678);
}

.phone:focus{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fphone_focus.png?v=1576610731861);
}

.audience {
  width: 80px;
  height: 62px;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Faudience.png?v=1576603537493);
  border: outset #aaa 0px;
}

.audience:hover{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Faudience_hover.png?v=1576610513225);
}

.audience:focus{
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Faudience_focus.png?v=1576610513388);
}

/* joker butonları için border radius ayarla*/

.timer {
  width: 100px;
  height: 50px;
  border: outset #aaa 2px;
  background: #f2f2f2;
  font-size: 30px;
  text-align: center;
  color: #333;
  padding-top: 25px;
  border-radius: 5px 5px;
  margin: 0 auto;
}

.main{
  width:700px;
  height: 257px;
  margin: 0 auto;
  float: right;
  font-size: 20px;
}

.question {
  width: 700px;
  height: 50px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.prize{
  width: 200px;
  height: 480px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.prize-table{
  text-align: left;
  display: inline-block;
}

.prize-table td{
  width: 200px;
  height: 30px;
  float: left;
}

.usual_q{
  color: #e2a539;
}

.choices-table {
  display: inline-block;
  text-align: center;
  float: right;
}

.choices button {
  text-align: left;
  width: 348px;
  height: 50px;
  background: #000033;
  color: #ffffff;
  border: outset #aaa 2px;
  transition: 0.5s;
  border-radius: 5px 5px;
  float: right;
}

.choice-id {
  color: #FFFF33;
  transition: 0.5s;
}

.score {
  width: 903px;
  height: 30px;
  background-color: #000033;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding-top: 10px;
  border: outset #aaa 2px;
  border-radius: 5px 5px;
  float: right;
}

.choices button:hover {
  background-color: #000066;
  color: #ffff1a;
}

.choices button:hover {
  background-color: #000066;
}

.choices button:focus {
  background: #e2a539;
}

.choices button:focus .choice-id {
  color: #FFF;
}

.choices button:focus .choice-detail {
  color: #000;
}

.ad1{
  width: 211px;
  height: 608px;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fad1.jpg?v=1576612983897);
  float: left;
  margin: 0 auto;
}

.ad2{
  width: 211px;
  height: 608px;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fad2.png?v=1576612985487);
  float: left;
  margin: 0 auto;
}

.approved {
  margin: 0 auto;
  width: 1333px;
  height: 889px;
  color: #33ff33;
  font-size: 270px;
  text-align: center;
  background: url(https://cdn.glitch.com/ef09c5cd-bbf4-4e54-be8f-c8b18c4e7af0%2Fjeff.jpg?v=1576613124174);
  background-repeat: no-repeat;
  float: left;
}
